.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;

	@media (min-width:$md5) {
		--f-caption-font: 1.5rem #{$fontfamily},
		sans-serif;

	}
}

.fancybox__slide {
	padding: 0;

	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.f-caption {
	text-align: center;
	margin-bottom: -80px;
}

.fancybox__backdrop {
	background: rgba($color: #020A1F, $alpha: 0.75);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.f-button.is-close-button {
	--f-close-button-svg-stroke-width: #{rem(2)};
	--f-close-button-color: #{rgba(#272a2d, 1)};
	--f-close-button-hover-color: #{$accent};
	--f-close-button-width: #{2.5rem};
	--f-close-button-height: #{2.5rem};
	--f-close-button-svg-width: #{rem(24)};
	--f-close-button-svg-height: #{rem(24)};
	top: rem(4);
	right: rem(4);

	@media (min-width: $md5) {
		top: rem(14);
		right: rem(14);
		--f-close-button-width: #{rem(32)};
		--f-close-button-height: #{rem(32)};
		--f-close-button-svg-width: #{rem(24)};
		--f-close-button-svg-height: #{rem(24)};
	}
}

.fancybox__dialog *:empty {
	display: inherit;
}

.popup {
	display: none;
	flex-direction: column;
	border-radius: 1rem;
	background-color: #FFF;
	color: #272a2d;
	padding: 2.5rem 1rem;
	max-width: 100%;
	width: 100%;

	@media (min-width: $md4) {
		padding: 2rem;
		max-width: rem(416);
		justify-content: center;
		min-height: 14.875rem;

		@media (min-height: 600px) {
			justify-content: normal;
			min-height: auto;
		}
	}

	&.popup--large {
		@media (min-width:$md5) {
			max-width: 49.875rem;
			padding: 2.5rem;
			border-radius: 2rem;

		}

		.f-button.is-close-button {
			@media (min-width:$md5) {
				top: rem(16);
				right: rem(24);
				--f-close-button-width: #{rem(32)};
				--f-close-button-height: #{rem(32)};
				--f-close-button-svg-width: #{rem(28)};
				--f-close-button-svg-height: #{rem(28)};
			}
		}

	}

	&__icon {
		align-self: center;
		margin-bottom: 1rem;
		max-width: 3rem;
	}

	// .popup__title
	&__title {
		text-align: center;

		&.title-sm {
			@media (min-width:$md5) {
				font-size: 2rem;
			}
		}
	}

	// .popup__title
	&__title {}

	// .popup__subtitle
	&__subtitle {
		margin-top: 0.75rem;
		color: #313542;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-align: center;

	}

	// .popup__form
	&__form {
		margin-top: 1.5rem;
	}

	// .popup__link
	&__link {
		margin-top: rem(30);
		align-self: flex-start;
		display: inline-flex;
		align-content: center;
		align-items: center;
		color: #313542;
		font-size: 1rem;
		line-height: 120%;
		letter-spacing: -0.01188rem;
		gap: 0.625rem;

		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			color: #2342A7;
		}

		& span {
			text-decoration: underline;
		}

		@media (any-hover: hover) {
			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}

	// .popup__resident-header
	&__resident-header {
		padding-bottom: 1.5rem;
		border-bottom: rem(1) solid rgba(165, 172, 195, 0.31);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}

	// .popup__resident-logo
	&__resident-logo {}

	// .popup__resident-title
	&__resident-title {
		color: #4A5565;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.00938rem;
	}

	&__content {
		margin-top: 1.5rem;
	}
}