.about-park {
    @media (max-width:$md5) {
        padding: 0.55rem 0 0;
    }

    @media (min-width:$md3) {
        padding: 0.25rem 0 0.875rem;

    }

    // .about-park__container
    &__container {
        @media (max-width:$md5) {
            padding: 0;
        }
    }

    // .about-park__banner
    &__banner {
        min-height: 17.9375rem;

        @media (min-width:$md5) {
            min-height: 24.375rem;

        }

        @media (min-width:$md3) {
            min-height: 30.125rem;
        }

        @media (min-width:$md2) {
            min-height: 35.875rem;
        }

        .banner__description {

            padding-top: 0.5rem;
            line-height: 130%;
            padding-left: 0.75rem;
            max-width: 72.3%;
            font-size: 0.875rem;
            letter-spacing: -0.03125rem;
            padding-right: 0.75rem;

            @media (min-width:$md4) {
                padding-right: 2rem;
                padding-top: 1.55rem;
                padding-left: 1.5rem;
                max-width: 22.2rem;
                padding-bottom: 1.75rem;
                letter-spacing: -0.0195rem;
                font-size: 1rem;
            }

            @media (min-width:$md2) {
                max-width: 27rem;
                padding-top: 2.25rem;
                padding-left: 2.4rem;
                padding-bottom: 2.8rem;
                font-size: 1.125rem;
                line-height: 160%;
            }
        }
    }
}

.ecosystem {
    padding: rem(50) 0 rem(45);

    @media (min-width:$md5) {
        padding: rem(50) 0 rem(70);
    }

    @media (min-width:$md3) {
        padding: rem(80) 0 rem(40);
    }

    // .ecosystem__title
    &__title {
        max-width: rem(750);
        font-weight: 600;
    }

    // .ecosystem__list
    &__list {
        margin-top: 2rem;
        display: grid;
        gap: 0.75rem;

        @media (min-width:$md4) {
            gap: rem(16);
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$md2) {
            margin-top: rem(48);
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // .ecosystem__card
    &__card {
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 rem(7) rem(16) 0 #ECF1F5;
        transition: all 0.3s ease;
        border-radius: 1rem;
        gap: rem(12);
        padding: 1rem;

        @media (max-width:$md2) {
            @media (min-width:$md4) {
                @for $i from 1 through 2 {
                    &:nth-child(2n + #{$i}) {
                        transition-delay: #{$i * 0.25}s;
                    }
                }
            }
        }

        @media (min-width:$md2) {
            @for $i from 1 through 3 {
                &:nth-child(3n + #{$i}) {
                    transition-delay: #{$i * 0.25}s;
                }
            }
        }

        @media (min-width:$md5) {
            box-shadow: 0 rem(4) rem(10) 0 rgba(0, 0, 0, 0.11);
            padding: 1.125rem;
            gap: rem(16);
            border-radius: 1.5rem;
        }

        @media (min-width:$md3) {
            gap: rem(24);
            padding: rem(24) rem(24) rem(40) rem(24);
        }

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(rem(-8));
                box-shadow: 0 rem(15) rem(40) 0 rgba(0, 0, 0, 0.11);
            }
        }

    }

    // .ecosystem__card-header
    &__card-header {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media (min-width:$md5) {
            gap: 1rem;
        }

        @media (min-width:$md3) {
            gap: 1.5rem;
        }
    }

    // .ecosystem__card-icon
    &__card-icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        width: 3.81325rem;
        height: 3.81325rem;
        padding: 0.875rem;
        border-radius: 1.22025rem;

        @media (min-width:$md5) {
            width: 4.125rem;
            height: 4.125rem;
            border-radius: 1rem;
        }

        @media (min-width:$md3) {
            border-radius: 1.81819rem;
            width: 5rem;
            height: 5rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url("@img/decor/glass-substrat-ecosystem-tablet.png") 0 0 / cover no-repeat;
            border-radius: 1.22025rem;

            @media (min-width:$md5) {
                border-radius: 1rem;
            }

            @media (min-width:$md3) {
                background: url("@img/decor/glass-substrat-ecosystem.png") 0 0 / cover no-repeat;
                border-radius: 1.81819rem;
            }
        }


        &::after {
            content: '';
            position: absolute;
            bottom: 0.22rem;
            right: 0.44rem;
            width: 1.30681rem;
            height: 1.30681rem;
            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(21px)
        }

        img {
            width: 2.875rem;
            height: 2.875rem;
            object-fit: contain;
        }
    }

    // .ecosystem__card-title
    &__card-title {
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.02806rem;
        font-size: 1rem;

        @media (min-width:$md5) {
            line-height: 120%;
            font-size: 1.125rem;
        }

        @media (min-width:$md3) {
            font-size: 1.375rem;

            &.ecosystem__card-title--size-small {
                font-size: 1.3125rem;
                margin-left: -0.25rem;
            }

            &.ecosystem__card-title--size-medium {
                font-size: 1.375rem;
            }
        }

    }

    // .ecosystem__card-text
    &__card-text {
        color: #4A5565;
        letter-spacing: -0.01875rem;
        font-size: 0.875rem;
        line-height: 130%;

        @media (min-width:$md5) {
            line-height: 140%;
        }

        @media (min-width:$md3) {
            font-size: 1rem;

        }
    }
}

.gallery {
    padding: rem(35) 0 rem(40);

    @media (min-width:$md3) {
        padding: rem(35) 0 rem(54);

    }

    // .gallery__container
    &__container {}

    // .gallery__title
    &__title {
        font-weight: 600;
        max-width: rem(450);

        @media (min-width:$md3) {
            max-width: rem(650);

        }
    }

    // .gallery__slider
    &__slider {
        margin-top: 2rem;
        overflow: visible;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        @media (min-width:$md5) {
            flex-direction: column;
            gap: 1.675rem;
        }

        @media (min-width:$md3) {
            gap: 2rem;
        }
    }

    // .gallery__slide
    &__slide {
        display: block;
        overflow: hidden;
        border-radius: 1rem;
        width: rem(325);
        height: rem(265);

        @media (min-width:$md5) {
            width: rem(368);
            height: rem(275);
        }

        @media (min-width:$md3) {
            border-radius: 1.5rem;
            width: rem(457);
            height: rem(341);
        }
    }

    // .gallery__image
    &__image {}

    // .gallery__slider-controls
    &__slider-controls {
        display: flex;
        gap: rem(14);
    }

    // .gallery__slider-prev
    &__slider-prev {}

    // .gallery__slider-next
    &__slider-next {}
}

.infrastructure {
    background: #F6F8FA;
    padding: rem(40) 0 rem(70);

    @media (min-width:$md5) {
        padding: rem(10) 0 rem(100);
    }

    @media (min-width:$md3) {
        padding: rem(30) 0 rem(150);

    }

    &+.contacts {
        background: #fff;
        padding-top: rem(40);

        border-radius: rem(30);
        margin-top: rem(-30);

        @media (min-width:$md5) {
            border-radius: rem(58);
            margin-top: rem(-58);

        }

        @media (min-width:$md3) {
            padding-top: rem(55);

        }
    }

    // .infrastructure__title
    &__title {
        font-weight: 600;
        max-width: 30rem;

        @media (min-width:$md3) {
            max-width: 100%;
        }
    }

    // .infrastructure__grid
    &__grid {
        margin-top: rem(30);
        display: grid;
        gap: rem(28);

        @media (min-width:$md4) {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(14);
        }

        @media (min-width:$md3) {
            margin-top: rem(40);
            gap: rem(24);
        }

        @media (min-width:$md2) {
            margin-top: rem(50);
            gap: rem(32);

        }
    }

    // .infrastructure__card
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: rem(12);
        position: relative;
        color: #fff;

        @media (min-width:$md4) {
            @for $i from 1 through 2 {
                &:nth-child(2n + #{$i}) {
                    transition-delay: #{$i * 0.25}s;
                }
            }
        }

        @media (max-width:$md4) {
            &:nth-child(odd) {
                .infrastructure__card-title {
                    top: 0;
                    left: 0;
                }

                .infrastructure__card-body {
                    bottom: 0;
                    right: 0;
                    border-radius: rem(12) 0 0 0;
                    padding-right: 0;
                    padding-top: rem(12);
                    padding-bottom: rem(4);

                    &::before,
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M0 12C6.62742 12 12 6.62742 12 0L12 12L0 12Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }

                    &::before {
                        bottom: 100%;
                        right: 0;
                    }

                    &::after {
                        bottom: 0;
                        right: 100%;
                    }
                }
            }

            &:nth-child(even) {
                .infrastructure__card-title {
                    bottom: 0;
                    left: 0;
                }

                .infrastructure__card-body {
                    top: 0;
                    left: 0;
                    border-radius: 0 0 rem(12) 0;
                    padding-left: 0;
                    padding-top: rem(4);
                    padding-bottom: rem(12);


                    &::before,
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M12 0C5.37258 0 0 5.37258 0 12V0H12Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }

                    &::before {
                        top: 0;
                        left: 100%;
                    }

                    &::after {
                        top: 100%;
                        left: 0;
                    }
                }
            }
        }

        &:nth-child(6n + 1),
        &:nth-child(6n + 5) {
            .infrastructure__card-title {
                @media (min-width:$md4) {
                    top: 0;
                    left: 0;
                }
            }

            .infrastructure__card-body {
                @media (min-width:$md4) {
                    bottom: 0;
                    left: 0;
                    border-radius: 0 rem(12) 0 0;
                }

                @media (min-width:$md3) {
                    border-radius: 0 rem(22) 0 0;
                }

                &::before,
                &::after {
                    @media (min-width:$md4) {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M0 0C0 12.1503 9.84974 22 22 22H0L0 0Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }
                }

                @media (min-width:$md4) {
                    &::before {
                        bottom: 100%;
                        left: 0;
                    }

                    &::after {
                        bottom: 0;
                        left: 100%;
                    }

                }
            }
        }

        &:nth-child(6n + 2) {
            .infrastructure__card-title {
                @media (min-width:$md4) {
                    bottom: 0;
                    left: 0;
                }
            }

            .infrastructure__card-body {
                @media (min-width:$md4) {
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 rem(12);
                }

                @media (min-width:$md3) {
                    border-radius: 0 0 0 rem(22);
                }

                &::before,
                &::after {
                    @media (min-width:$md4) {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M22 22C22 9.84974 12.1503 0 0 0L22 0L22 22Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }
                }

                @media (min-width:$md4) {
                    &::before {
                        top: 0;
                        right: 100%;
                    }

                    &::after {
                        right: 0;
                        top: 100%;
                    }

                }
            }
        }

        &:nth-child(6n + 3),
        &:nth-child(6n + 6) {
            .infrastructure__card-title {
                @media (min-width:$md4) {
                    top: 0;
                    left: 0;
                }
            }

            .infrastructure__card-body {
                @media (min-width:$md4) {
                    bottom: 0;
                    right: 0;
                    border-radius: rem(12) 0 0 0;

                }

                @media (min-width:$md3) {
                    border-radius: rem(22) 0 0 0;
                }

                &::before,
                &::after {
                    @media (min-width:$md4) {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M0 22C12.1503 22 22 12.1503 22 0L22 22L0 22Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }
                }

                @media (min-width:$md4) {

                    &::before {
                        bottom: 100%;
                        right: 0;
                    }

                    &::after {
                        bottom: 0;
                        right: 100%;
                    }
                }
            }
        }

        &:nth-child(6n + 4) {
            .infrastructure__card-title {
                @media (min-width:$md4) {
                    bottom: 0;
                    left: 0;
                }
            }

            .infrastructure__card-body {
                @media (min-width:$md4) {
                    top: 0;
                    left: 0;
                    border-radius: 0 0 rem(12) 0;

                }

                @media (min-width:$md3) {
                    border-radius: 0 0 rem(22) 0;
                }

                &::before,
                &::after {
                    @media (min-width:$md4) {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M22 0C9.84974 0 0 9.84974 0 22V0H22Z' fill='%23F6F8FA'/%3E%3C/svg%3E");
                    }
                }

                @media (min-width:$md4) {
                    &::before {
                        top: 0;
                        left: 100%;
                    }

                    &::after {
                        top: 100%;
                        left: 0;
                    }

                }
            }
        }

        @media (min-width:$md3) {
            border-radius: rem(22);
        }

    }

    // .infrastructure__card-title
    &__card-title {
        position: absolute;
        width: 100%;
        z-index: 2;
        font-weight: 500;
        line-height: 1;
        padding: 1rem 0.875rem;
        font-size: 1.125rem;


        @media (max-width:$md5) {
            br {
                display: none;
            }
        }

        @media (min-width:$md5) {
            padding: 1.25rem 0.875rem;
            font-size: 1.25rem;

        }

        @media (min-width:$md3) {
            font-size: 1.75rem;
            padding: 1.5rem 1rem;
        }

        @media (min-width:$md2) {
            padding: rem(42) rem(30);
            font-size: 2rem;

        }
    }

    // .infrastructure__card-image
    &__card-image {
        position: relative;
        width: 100%;
        height: rem(242);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(152deg, rgba(0, 11, 32, 0.70) 7.08%, rgba(0, 11, 32, 0.07) 56.65%);
            z-index: 1;
            border-radius: rem(12);

            @media (min-width:$md3) {
                border-radius: rem(22);

            }
        }

        @media (min-width:$md5) {
            height: 17.25rem;
        }

        @media (min-width:$md3) {
            height: 24.25rem;
        }

        @media (min-width:$md2) {
            height: 31.25rem;

        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(12);

            @media (min-width:$md3) {
                border-radius: rem(22);
            }
        }
    }

    // .infrastructure__card-body
    &__card-body {
        position: absolute;
        z-index: 2;
        background: #F6F8FA;
        color: #4A5565;
        align-content: center;
        line-height: 130%;
        letter-spacing: -0.0195rem;
        max-width: min(rem(390), 55.8%);
        font-size: rem(14);
        padding: rem(12) rem(16) rem(4);
        min-height: rem(90);

        @media (min-width:$md5) {
            padding: rem(8) rem(16);
            min-height: rem(110);
            max-width: min(rem(390), 65%);
        }

        @media (min-width:$md3) {
            padding: rem(14) rem(24);
            font-size: 1rem;
        }

        @media (min-width:$md2) {
            min-height: rem(125);
            padding: rem(14) rem(30);
            font-size: 1.125rem;

        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: rem(12);
            height: rem(12);
            background-size: contain;
            background-repeat: no-repeat;

            @media (min-width:$md3) {
                width: rem(22);
                height: rem(22);

            }
        }

    }

    // .infrastructure__card-text
    &__card-text {}
}