.about-park {
    padding: 0.25rem 0 0.875rem;

    // .about-park__container
    &__container {}

    // .about-park__banner
    &__banner {
        min-height: 35.875rem;

        .banner__description {
            max-width: 27rem;
            padding-top: 2.25rem;
            padding-left: 2.4rem;
            padding-bottom: 2.8rem;
            font-size: 1.125rem;
            line-height: 160%;
            letter-spacing: -0.0195rem;
        }
    }
}

.ecosystem {
    padding: rem(80) 0 rem(40);

    // .ecosystem__title
    &__title {
        max-width: rem(750);
        font-weight: 600;
    }

    // .ecosystem__list
    &__list {
        margin-top: rem(48);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(16);
    }

    // .ecosystem__card
    &__card {
        height: 100%;
        background: #fff;
        padding: rem(24) rem(24) rem(40) rem(24);
        border-radius: 1.5rem;
        box-shadow: 0 rem(4) rem(10) 0 rgba(0, 0, 0, 0.11);
        display: flex;
        flex-direction: column;
        gap: rem(24);
        transition: all 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(rem(-8));
                box-shadow: 0 rem(15) rem(40) 0 rgba(0, 0, 0, 0.11);
            }
        }

    }

    // .ecosystem__card-header
    &__card-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    // .ecosystem__card-icon
    &__card-icon {
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 1.81819rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1.81819rem;
            background: url("@img/decor/glass-substrat-ecosystem.png") 0 0 / cover no-repeat;
            z-index: -1;
        }


        &::after {
            content: '';
            position: absolute;
            bottom: 0.22rem;
            right: 0.44rem;
            width: 1.30681rem;
            height: 1.30681rem;
            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(21px)
        }

        img {
            width: 2.875rem;
            height: 2.875rem;
            object-fit: contain;
        }
    }

    // .ecosystem__card-title
    &__card-title {
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.02806rem;

        &.ecosystem__card-title--size-small {
            font-size: 1.3125rem;
            margin-left: -0.25rem;
        }

        &.ecosystem__card-title--size-medium {
            font-size: 1.375rem;
        }
    }

    // .ecosystem__card-text
    &__card-text {
        color: #4A5565;
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: -0.01875rem;
    }
}

.gallery {
    padding: rem(35) 0 rem(54);

    // .gallery__container
    &__container {}

    // .gallery__title
    &__title {
        max-width: rem(650);
        font-weight: 600;
    }

    // .gallery__slider
    &__slider {
        margin-top: 2rem;
        overflow: visible;
    }

    // .gallery__slide
    &__slide {
        width: rem(457);
        height: rem(341);
        display: block;
        overflow: hidden;
        border-radius: 1.5rem;
    }

    // .gallery__image
    &__image {}

    // .gallery__slider-controls
    &__slider-controls {
        margin-top: 2rem;
        display: flex;
        gap: rem(14);
    }

    // .gallery__slider-prev
    &__slider-prev {}

    // .gallery__slider-next
    &__slider-next {}
}

.infrastructure {
    padding: rem(80) 0;

    &__title {
        margin-bottom: rem(40);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(24);
    }
}

.infrastructure-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: rem(24);
    overflow: hidden;
    position: relative;

    &__image {
        position: relative;
        height: rem(340);
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(24);
        }
    }

    &__title {
        position: absolute;
        top: rem(32);
        left: rem(32);
        z-index: 2;
        color: #fff;
        font-size: rem(24);
        font-weight: 600;
        line-height: 120%;
        max-width: rem(300);
    }

    &__body {
        padding: rem(24) 0;
        background: #fff;
    }

    &__text {
        font-size: rem(14);
        line-height: 140%;
        color: #4A5565;
        max-width: rem(340);
    }

    &:nth-child(even) {
        flex-direction: column-reverse;

        .infrastructure-card__body {
            padding: 0 0 rem(24) 0;
        }

        .infrastructure-card__text {
            margin-left: auto;
            text-align: right;
        }
    }

    &:nth-child(odd) {
        .infrastructure-card__image {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: rem(140);
                height: rem(70);
                background: #fff;
                border-radius: rem(24) 0 0 0;
            }
        }
    }

    &:nth-child(even) {
        .infrastructure-card__image {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: rem(140);
                height: rem(70);
                background: #fff;
                border-radius: 0 0 rem(24) 0;
            }
        }
    }
}