.page--contest {
	background: #EFF1F7;
}

.contest-hero {
	background: #11297A;
	// .contest-hero__wrapper
	&__wrapper {
		position: relative;
		z-index: 2;
		overflow: hidden;
		color: #fff;
		border-radius: 0 0 rem(30) rem(30);
		margin-bottom: rem(-30);
	
		padding: rem(60) 0 rem(220);
		aspect-ratio: math.div(375, 595);
	
		background: url("@img/contest/contest-hero-mobile.jpg") 0 0 / cover no-repeat,
			linear-gradient(180deg, rgba(30, 59, 154, 0) 40%, #1e3b9a 100%);
		
		max-width: rem(1600);
		width: 100%;
		margin-inline: auto;
		@media (min-width:$md5) {
			aspect-ratio: auto;
			background: url("@img/contest/contest-hero.jpg") center 0 / cover no-repeat,
				linear-gradient(180deg, rgba(30, 59, 154, 0) 40%, #1e3b9a 100%);
			border-radius: 0 0 rem(40) rem(40);
			margin-bottom: rem(-40);
			padding: rem(40) 0 rem(64);
		}
	
		@media (min-width:$md4) {
			aspect-ratio: math.div(744, 348);
		}
	
		@media (min-width:$md3) {
			border-radius: 0 0 rem(80) rem(80);
			margin-bottom: rem(-80);
			aspect-ratio: math.div(1359, 584);
			padding: rem(100) 0 rem(72);
			align-content: center;
		}
	
		@media (min-width:$md2) {
			min-height: rem(584);
			padding: rem(120) 0 rem(88);
		}
	}

	// .contest-hero__container
	&__container {
		position: relative;
		z-index: 2;
	}

	// .contest-hero__content
	&__content {
		max-width: rem(320);

		@media (min-width:$md5) {
			max-width: rem(395);

		}

		@media (min-width:$md3) {
			max-width: rem(621);
		}
	}

	// .contest-hero__title
	&__title {
		font-weight: 500;
		font-size: rem(32);
		line-height: 1.1;
		letter-spacing: rem(-1);
		max-width: rem(360);

		@media (min-width:$md5) {
			letter-spacing: rem(-2);
			font-size: rem(36);
			max-width: rem(340);
		}

		@media (min-width:$md3) {
			font-size: rem(50);
			line-height: rem(54);
			max-width: rem(544);
		}

		@media (min-width:$md2) {
			font-size: rem(57);
		}
	}

	// .contest-hero__text
	&__text {
		margin-top: rem(12);
		font-size: rem(14);
		line-height: 1.3;
		display: flex;
		flex-direction: column;
		gap: rem(12);

		@media (min-width:$md5) {
			margin-top: rem(24);
			font-size: rem(14);
			line-height: 1.4;
			gap: rem(14);
		}

		@media (min-width:$md3) {
			margin-top: rem(32);
			font-size: rem(18);
			gap: rem(16);
		}

		strong {
			font-weight: 700;
		}
	}

	// .contest-hero__lead
	&__lead {
		font-weight: 500;
	}
}

.nominations {
	position: relative;
	z-index: 1;
	background: #11297a;
	color: #fff;
	padding: rem(80) 0 rem(30);

	@media (min-width:$md5) {
		padding: rem(80) 0 rem(20);
	}

	@media (min-width:$md3) {
		padding: rem(155) 0 rem(32);
	}

	// .nominations__title
	&__title {
		@media (max-width:$md5) {
			font-weight: 500;
			font-size: rem(28);
			letter-spacing: em(-0.28, 28);
		}
	}

	// .nominations__list
	&__list {
		display: grid;
		gap: rem(16);
		margin-top: rem(22);

		@media (min-width:$md5) {
			margin-top: rem(28);
			gap: rem(20);
		}

		@media (min-width:$md4) {
			grid-template-columns: repeat(2, 1fr);
			gap: rem(16);
			margin-top: rem(24);
		}

		@media (min-width:$md3) {
			margin-top: rem(32);
			grid-template-columns: repeat(3, 1fr);
			gap: rem(24);
		}
	}

	// .nominations__card
	&__card {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		padding: rem(16) rem(16);
		border-radius: rem(16);
		min-height: 100%;
		background: url("@img/decor/glass-substrat-contest-card-mobile.png") 0 0 / 100% 100% no-repeat;

		@media (min-width:$md5) {
			background: rgba(255, 255, 255, 0.13);
			padding: rem(20) rem(16);
			padding: rem(14.5);
			border-radius: rem(18);
			gap: rem(16);

			@media (max-width:$md3) {
				&:last-child:nth-child(odd) {
					grid-column: span 2;
				}
			}
		}

		@media (min-width:$md3) {
			padding: rem(21) rem(20) rem(24);
			border-radius: rem(34);
			gap: rem(35);
			background: url("@img/decor/glass-substrat-contest-card.png") 0 0 / 100% 100% no-repeat;

		}
	}

	// .nominations__card-header
	&__card-header {
		display: flex;
		align-items: center;
		gap: rem(14);

		@media (min-width:$md3) {
			gap: rem(16);
		}
	}

	// .nominations__card-icon
	&__card-icon {
		position: relative;
		z-index: 1;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(64);
		height: rem(64);
		border-radius: rem(20);
		padding: rem(12);

		@media (min-width:$md2) {
			width: rem(80);
			height: rem(80);
			border-radius: rem(29);
			padding: rem(17);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: inherit;
			background: url("@img/decor/glass-substrat-contest.png") 0 0 / cover no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: rem(3);
			right: rem(3);
			width: rem(13);
			height: rem(13);
			border-radius: 50%;
			z-index: -2;
			background: #2342A7;
			filter: blur(13px);

			@media (min-width:$md3) {
				bottom: rem(4);
				right: rem(4);
				width: rem(20);
				height: rem(20);
				filter: blur(22px);
			}
		}

		img {
			position: relative;
			z-index: 1;
			width: rem(38);
			height: rem(38);
			object-fit: contain;

			@media (min-width:$md3) {
				width: rem(46);
				height: rem(46);
			}
		}
	}

	// .nominations__card-title
	&__card-title {
		font-weight: 500;
		font-size: rem(18);
		line-height: 1.2;
		letter-spacing: rem(-0.45);

		@media (min-width:$md3) {
			font-size: rem(22);
		}
	}

	// .nominations__card-text
	&__card-text {
		font-size: rem(14);
		line-height: 1.4;
		letter-spacing: rem(-0.3);
		flex: 1 1 auto;

		@media (min-width:$md3) {
			font-size: rem(16);
		}

		p+p {
			margin-top: rem(18);

			@media (min-width:$md3) {
				margin-top: rem(22);

			}
		}
	}

	// .nominations__card-btn
	&__card-btn {
		&.btn {
			gap: rem(10);

			@media (max-width:$md5) {
				margin-top: 0.5rem;
			}

			@media (max-width:$md3) {
				@media (min-width:$md5) {
					padding: rem(10);
					font-size: rem(14);
				}
			}

			&::before {
				order: -1;
			}
		}
	}
}

.contest-docs {
	position: relative;
	z-index: 1;
	background: #11297a;
	color: #fff;
	padding: rem(30) 0 rem(30);
	border-radius: 0 0 rem(30) rem(30);

	@media (min-width:$md5) {
		border-radius: 0 0 rem(48) rem(48);
		padding: rem(24) 0 rem(40);
	}

	@media (min-width:$md3) {
		border-radius: 0 0 rem(58) rem(58);
		padding: rem(40) 0 rem(60);
	}

	// .contest-docs__title
	&__title {
		color: #fff;
		font-size: rem(28);

		@media (max-width:$md5) {
			font-weight: 500;
			font-size: rem(28);
			letter-spacing: em(-0.28, 28);
		}

		@media (min-width:$md5) {
			font-size: rem(36);
		}

		@media (min-width:$md3) {
			font-size: rem(46);
			letter-spacing: rem(-0.46);
			line-height: rem(40);
		}
	}

	// .contest-docs__list
	&__list {
		display: grid;
		gap: rem(10);
		margin-top: rem(24);

		@media (max-width:$md5) {

			.documents__item-btn {
				.btn {
					min-height: rem(36);
				}
			}
		}

		@media (min-width:$md5) {
			gap: rem(14);
			margin-top: rem(24);
		}

		@media (min-width:$md3) {
			grid-template-columns: repeat(2, 1fr);
			margin-top: rem(40);

			.documents__item-name {
				font-size: rem(18);
			}
		}
	}

}

.contest-apply {
	position: relative;
	background: #EFF1F7;

	border-radius: 0 0 rem(30) rem(30);
	margin-bottom: rem(-30);
	padding: rem(30) 0 rem(30);

	@media (min-width:$md5) {
		padding: rem(40) 0 rem(32);
		border-radius: 0 0 rem(48) rem(48);
		margin-bottom: rem(-48);
	}

	@media (min-width:$md3) {
		border-radius: 0 0 rem(58) rem(58);
		margin-bottom: rem(-58);
		padding: rem(50) 0 rem(76);

	}


	// .contest-apply__banner
	&__banner {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;
		border-radius: rem(20);
		gap: 2.5rem;
		margin: 0 -1rem;
		background: url("@img/contest/clouds-bg-mobile.png") 0 0 / cover no-repeat, #fff;
		padding-bottom: 1.375rem;

		@media (min-width:$md5) {
			padding-bottom: 0;
			background: url("@img/contest/clouds-bg.png") 0 0 / cover no-repeat, #fff;
			border-radius: rem(23);
			margin: 0;
		}

		@media (min-width:$md4) {
			flex-direction: row;
			align-items: center;
		}

		@media (min-width:$md3) {
			gap: 3rem;

		}
	}

	// .contest-apply__image
	&__image {
		flex-shrink: 0;
		margin-left: auto;
		width: rem(172);
		margin-right: rem(34);
		margin-top: rem(-124);

		@media (min-width:$md4) {
			width: rem(210);
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width:$md3) {
			width: rem(338);

		}
	}


	// .contest-apply__content
	&__content {
		position: relative;
		z-index: 1;
		padding: rem(24) rem(20) rem(28);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(18);

		@media (min-width:$md5) {
			padding: rem(28) rem(24);

		}

		@media (min-width:$md4) {
			padding: rem(36) rem(28) rem(32) rem(8);
			flex: 1 1 auto;
			gap: rem(20);
		}

		@media (min-width:$md3) {
			padding: rem(49) rem(40) rem(49) 0;
			max-width: rem(851);
			gap: rem(24);
		}
	}

	// .contest-apply__title
	&__title {
		color: #11297a;
		font-size: rem(26);
		line-height: 1.15;

		@media (min-width:$md5) {
			font-size: rem(30);
		}

		@media (min-width:$md3) {
			font-size: rem(42);
			letter-spacing: rem(-0.42);
			line-height: rem(40);
		}
	}

	// .contest-apply__desc
	&__desc {
		color: #11297a;
		max-width: rem(615);
		font-size: rem(14);
		line-height: 1.35;

		@media (min-width:$md5) {
			font-size: rem(16);
			line-height: 1.5;
		}

		@media (min-width:$md3) {
			font-size: rem(18);
			line-height: rem(29);
		}
	}

	// .contest-apply__btn
	&__btn {
		background: #11297A;
		min-width: rem(131);

		@media (min-width:$md5) {
			background: #11297a;
			border-color: #11297a;
			min-width: rem(155);

		}

		@media (any-hover: hover) {
			&:hover {
				background: #0d1f5c;
				border-color: #0d1f5c;
			}
		}
	}
}