.hero {
    padding: rem(5) 0 rem(40);

    // .hero__container
    &__container {
        flex: 1 1 auto;
        display: flex;
        gap: rem(20);
    }

    // .hero__main
    &__main {
        flex: 0 0 57%;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;

            height: 100%;
            background: linear-gradient(156deg, rgba(255, 255, 255, 0.00) 27.43%, #FFF 84.59%);
            clip-path: polygon(0% 61%, 100% 0%, 100% 100%, 0% 100%);
            z-index: -1;

            width: calc(100% + 1rem);

            @media (min-width:$md1) {
                width: calc(100% + (100vw - rem(1247))/2);
            }

        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;

            height: 100%;
            z-index: -1;
            background: url("@img/hero-offer-bg.svg") 100% 0 / auto 100% repeat-x;
            width: calc(100% + 1rem);

            @media (min-width:$md1) {
                width: calc(100% + (100vw - rem(1247))/2);
            }
        }
    }

    // .hero__title
    &__title {}

    // .hero__subtitle
    &__subtitle {
        margin-top: 2rem;
        color: #4A5565;
        font-size: 1.125rem;
        line-height: 162.5%;
    }

    // .hero__actions
    &__actions {
        margin-top: 2.38rem;
        display: flex;
        gap: 1rem;
    }

    // .hero__btn
    &__btn {
        min-width: 10.5rem;
    }

    // .hero__video
    &__video {
        flex: 0 0 rem(761);
        height: rem(488);
        align-self: stretch;
        overflow: hidden;
        border-radius: rem(30);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("@img/hero-mask.svg") 0 0 / cover no-repeat;
        }
    }

    // .hero__video-block
    &__video-block {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.stats {
    padding: rem(78) 0 rem(32);

    // .stats__container
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    // .stats__block
    &__block {
        border-radius: 1.5rem;
        background: #F6F8FA;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.0625rem 1rem 2.0625rem 2.0625rem;
    }

    // .stats__block-value
    &__block-value {
        color: #2342A7;
        font-size: 3.25rem;
        font-weight: 500;
        line-height: 92.308%;
    }

    // .stats__block-subtitle
    &__block-subtitle {
        margin-top: 0.97rem;
        color: #4A5565;
        font-size: 1.125rem;
        line-height: 111.111%;
        letter-spacing: 0.0125rem;
    }
}

.about {
    background: #fff;

    // .about__container
    &__container {}

    &__banner {
        .description-block {

            font-size: 1.1875rem;
            line-height: 136.842%;
            letter-spacing: -0.0195rem;
            max-width: rem(433);
            padding-right: 3rem;
            padding-top: 3.25rem;

            & p {
                &:not(:last-child) {
                    margin-bottom: 1.55rem;
                }
            }
        }
    }
}

.directions {
    padding: 5.875rem 0 rem(0);

    // .directions__title
    &__title {}

    // .directions__list
    &__list {
        margin-top: rem(44);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
}

.direction-card {
    border-radius: 1.5rem;
    padding: 2.625rem 0.5rem 2.625rem 2.25rem;

    display: flex;
    align-items: center;
    gap: 2rem;

    &.direction-card--grey {
        background: #F4F7F9;
    }

    &.direction-card--white {}

    &.direction-card--large {
        grid-column: span 6;
    }

    &.direction-card--default {
        min-height: rem(201);
    }

    grid-column: span 4;
    min-height: rem(180);

    // .direction-card__icon
    &__icon {
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            background: url("@img/glass-substrat.png") 0 0 / cover no-repeat;
            z-index: -1;
        }


        &::after {
            content: '';
            position: absolute;
            bottom: rem(11);
            right: rem(10);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(23.950000762939453px)
        }
    }

    // .direction-card__content
    &__content {
        flex: 1 1 auto;
    }

    // .direction-card__caption
    &__caption {
        color: #313542;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 116.667%;
        letter-spacing: -0.02806rem;
    }

    // .direction-card__desc
    &__desc {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1.125rem;
        line-height: 126.389%;
        letter-spacing: -0.00938rem;
        max-width: 26.5rem;
    }
}


.residents {
    background: #F6F8FA;
    padding: rem(131) 0 rem(136);
    position: relative;

    &::before,
    &::after {
        content: '';
        width: 100%;
        height: rem(58);
        left: 0;
        background: #fff;

        position: absolute;

    }

    &::before {
        top: 0;
        border-radius: 0 0 rem(58) rem(58);
    }

    &::after {
        bottom: 0;
        border-radius: rem(58) rem(58) 0 0;
    }

    // .residents__title
    &__title {}

    // .residents__list
    &__list {
        margin-top: 2.97rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    // .residents__card
    &__card {
        border-radius: 1.5rem;
        background: #FFF;
        box-shadow: 0 rem(13) rem(28) 0 #ECF1F5;
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 rem(13) rem(28) 0 #C2CFDB;
            }
        }
    }

    // .residents__card-link
    &__card-link {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    // .residents__card-logotype
    &__card-logotype {
        border-bottom: rem(1) solid rgba(165, 172, 195, 0.31);
        height: 7.5rem;
        display: flex;
        align-items: center;
    }

    // .residents__card-name
    &__card-name {
        margin-top: rem(18);
        color: #313542;
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 112%;
        letter-spacing: -0.02806rem;
    }

    // .residents__card-desc
    &__card-desc {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1.125rem;
        line-height: 126.389%;
        letter-spacing: -0.00938rem;

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }

    // .residents__card-more
    &__card-more {
        margin-top: auto;
        color: #313542;
        font-size: 0.875rem;
        line-height: 142.857%;
        letter-spacing: -0.00938rem;
        display: flex;
        align-items: center;
        gap: 0.06rem;

        &::before {
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            order: 1;
            color: #2342A7;
        }
    }
}

.about-center {
    padding: rem(0) 0 rem(54);
    position: relative;
    z-index: 2;
    background: #fff;

    // .about-center__container
    &__container {}

    // .about-center__banner
    &__banner {
        &.banner {
            min-height: rem(657);

            .description-block {
                padding-right: 4rem;
                padding-left: 4rem;
                max-width: 36.7rem;

            }
        }

    }
}

.banner {
    border-radius: rem(30);
    position: relative;
    color: #fff;
    background: $accent;
    min-height: rem(613);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // .banner__info
    &__info {
        position: relative;
        z-index: 2;
        max-width: 40rem;
        padding: 2.75rem 2.5rem;
    }

    // .banner__title
    &__title {}

    // .banner__subtitle
    &__subtitle {
        margin-top: 1rem;
        font-size: 1.125rem;
        line-height: 144.444%;
        letter-spacing: -0.0195rem;
    }

    // .banner__slider
    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: rem(30);
        background: $accent;
        pointer-events: none;
    }

    // .banner__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: rem(30);
        background: $accent;
        overflow: hidden;
        pointer-events: none;
    }

    // .banner__description
    &__description {}

    // .banner__title
    &__title {}

    // .banner__text
    &__text {
        margin-top: 1.5rem;
        font-size: 1rem;
        line-height: 162.5%;
        letter-spacing: -0.0195rem;
    }

    // .banner__btn
    &__btn {
        margin-top: 2rem;
    }
}

.description-block {
    margin-top: auto;
    position: relative;
    background: #fff;
    color: #313542;
    z-index: 6;
    max-width: 30rem;
    padding-top: 2.5rem;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: rem(30);
        height: rem(30);

    }

    &.description-block--left {

        padding-right: 2rem;
        border-top-right-radius: rem(30);

        &::before,
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M0 0C0 16.5685 13.4315 30 30 30H0V0Z' fill='white'/%3E%3C/svg%3E");
        }

        &::before {
            bottom: 100%;
            left: 0;
        }

        &::after {
            bottom: 0;
            left: 100%;
        }
    }

    &.description-block--right {
        margin-left: auto;
        padding-left: 2rem;
        border-top-left-radius: rem(30);

        &::before,
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M30 0C30 16.5685 16.5685 30 0 30H30V0Z' fill='white'/%3E%3C/svg%3E");
        }

        &::before {
            bottom: 100%;
            right: 0;
        }

        &::after {
            bottom: 0;
            right: 100%;
        }
    }
}

.training {
    padding: 4.56rem 0 2.08rem;

    // .training__container
    &__container {
        display: flex;
        gap: 1rem;
    }

    // .training__main
    &__main {}

    // .training__title
    &__title {}

    // .training__desc
    &__desc {
        margin-top: rem(35);
        color: #313542;
        font-size: 1.125rem;
        line-height: 144.444%;
        letter-spacing: -0.0195rem;
    }

    // .training__cards
    &__cards {
        flex: 0 0 rem(684);
        display: flex;
        flex-direction: column;
        gap: rem(13);
    }

    // .training__card
    &__card {
        border-radius: 1.875rem;
        background: #FFFEFE;
        box-shadow: 0 rem(4) rem(10) 0 rgba(0, 0, 0, 0.11);
        padding: 1.69rem 1.75rem;
        display: flex;
        gap: rem(30);
    }

    // .training__card-image
    &__card-image {
        width: 7.625rem;
        height: 7.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.875rem;
        flex-shrink: 0;
        background: url("@img/training-card-decor.png") 0 0 / cover no-repeat;
    }

    // .training__card-content
    &__card-content {
        flex: 1 1 auto;
    }

    // .training__card-caption
    &__card-caption {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 133.333%;
        letter-spacing: 0.00438rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        &::before {
            width: 2.75rem;
            height: 2.75rem;
            flex-shrink: 0;
            background: #2342A7;
            color: #fff;
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
    }

    // .training__card-desc
    &__card-desc {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1rem;
        line-height: 125%;
        letter-spacing: -0.0195rem;
    }
}

.solutions {
    padding: 3.69rem 0 3.44rem;

    // .solutions__title
    &__title {}

    // .solutions__list
    &__list {
        margin-top: 2.25rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
    }

    // .solutions__card
    &__card {
        border-radius: 1.5rem;
        background: #F6F8FA;
        padding: 1.35rem;

        &:nth-child(3n + 2) {
            background: #F6FAF8;

            .solutions__card-num {
                &::before {
                    background: url("@img/steps/02.svg") 0 0 / cover no-repeat;
                }
            }
        }

        &:nth-child(3n + 3) {
            background: #FAF6F9;

            .solutions__card-num {
                &::before {
                    background: url("@img/steps/03.svg") 0 0 / cover no-repeat;
                }
            }
        }
    }

    // .solutions__card-num
    &__card-num {
        position: relative;
        color: #2342A7;
        font-size: 2.93375rem;
        font-weight: 500;
        line-height: 167.416%;
        letter-spacing: 0.01081rem;
        width: 7.0995rem;
        height: 7.0995rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: url("@img/steps/01.svg") center / contain no-repeat;
        }
    }

    // .solutions__card-caption
    &__card-caption {
        margin-top: 1.69rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 133.333%;
        letter-spacing: 0.00438rem;
    }

    // .solutions__card-desc
    &__card-desc {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1rem;
        line-height: 137.5%;
        letter-spacing: -0.0195rem;
    }
}

.order {
    padding: rem(50) 0 rem(120);

    // .order__container
    &__container {}

    // .order__banner
    &__banner {
        background: url("@img/order-decor.svg") 0 0 / cover no-repeat, linear-gradient(rgba($color: #2342A7, $alpha: 0.64), rgba($color: #2342A7, $alpha: 0.64)), url("@img/hero-poster.jpg") 0 0 / cover no-repeat;
        border-radius: 1.5rem;
        color: #fff;
        padding: 3.75rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .order__title
    &__title {}

    // .order__banner-subtitle
    &__banner-subtitle {
        margin: 1.5rem;
        font-size: 1.125rem;
        line-height: 161.111%;
        max-width: 42rem;
    }

    // .order__banner-btn
    &__banner-btn {
        margin-top: 1.5rem;
    }
}