.hero {
    padding: rem(16) 0 rem(20);

    @media (min-width:$md5) {
        padding: rem(8) 0 rem(20);

    }

    @media (min-width:$md3) {
        padding: rem(5) 0 rem(40);

    }

    // .hero__container
    &__container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column-reverse;
        gap: rem(40);

        @media (min-width:$md4) {
            gap: rem(60);

        }

        @media (min-width:$md3) {
            gap: rem(20);
            flex-direction: row;
        }
    }

    // .hero__main
    &__main {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width:$md3) {
            flex: 0 0 57%;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

        }

        &::before {
            @media (min-width:$md3) {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background: linear-gradient(156deg, rgba(255, 255, 255, 0.00) 27.43%, #FFF 84.59%);
                clip-path: polygon(0% 61%, 100% 0%, 100% 100%, 0% 100%);
                z-index: -1;
                width: calc(100% + 2rem);

            }

            @media (min-width:$md1) {
                width: calc(100% + (100vw - rem(1247))/2);
            }

        }

        &::after {
            @media (min-width:$md3) {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                z-index: -1;
                background: url("@img/decor/hero-offer-bg.svg") 100% 0 / auto 100% no-repeat;
                width: calc(100% + 2rem);

            }

            @media (min-width:$md1) {
                width: calc(100% + (100vw - rem(1247))/2);
            }
        }
    }

    // .hero__title
    &__title {}

    // .hero__subtitle
    &__subtitle {
        color: #4A5565;
        margin-top: 0.75rem;
        line-height: 130%;
        max-width: 41rem;
        font-size: 0.875rem;
        max-width: 95%;

        @media (min-width:$md5) {
            max-width: 100%;
            margin-top: 1.5rem;
            font-size: 1.125rem;
        }

        @media (min-width:$md4) {
            font-size: 1.375rem;

        }

        @media (min-width:$md3) {
            margin-top: 2rem;
            font-size: 1.125rem;
            line-height: 162.5%;
        }
    }

    // .hero__actions
    &__actions {
        display: flex;
        gap: rem(13);
        margin-top: 1.5rem;
        width: 100%;

        @media (min-width:$md5) {
            gap: 1rem;
            width: auto;
        }

        @media (min-width:$md4) {
            margin-top: 2.38rem;

        }
    }

    // .hero__btn
    &__btn {
        flex: 1 1 50%;

        @media (max-width:$md5) {
            padding-inline: 0.5rem;
        }

        @media (min-width:$md5) {
            min-width: 10.5rem;
            flex: 0 1 auto;

        }
    }

    // .hero__video
    &__video {
        position: relative;

        border-radius: rem(30) 0 0 rem(30);
        height: 16rem;
        margin-right: -1rem;

        @media (min-width:$md5) {
            margin-right: -2rem;
            height: 22rem;

        }

        @media (min-width:$md4) {
            height: rem(438);

        }

        &::before {
            content: '';
            position: absolute;
            inset: -1px;
            border-radius: rem(30) 0 0 rem(30);
            background: url("@img/decor/hero-mask-mobile.svg") 0 center / cover no-repeat;

            @media (min-width:$md3) {
                border-radius: rem(30);
                background: url("@img/decor/hero-mask.svg") 0 0 / cover no-repeat;

            }
        }

        @media (min-width:$md3) {
            align-self: stretch;
            border-radius: rem(30);
            flex: 0 0 rem(761);
            height: rem(488);
            margin-right: 0;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: calc(100% + rem(20));
                width: 100%;
                height: 100%;
                background: url("@img/decor/hero-offer-bg-side.svg") 0 0 / auto 100% no-repeat;
            }

        }




    }

    // .hero__video-block
    &__video-block {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(12) 0 0 rem(12);

        @media (min-width:$md5) {
            border-radius: rem(30) 0 0 rem(30);

        }

        @media (min-width:$md3) {
            border-radius: rem(30);

        }
    }
}

.stats {
    padding: rem(20) 0 rem(38);

    @media (min-width:$md5) {
        padding: rem(30) 0 rem(38);
    }

    @media (min-width:$md3) {
        padding: rem(78) 0 rem(32);

    }

    // .stats__container
    &__container {
        display: grid;
        gap: rem(8);

        @media (min-width:$md4) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(9);
        }

        @media (min-width:$md3) {
            gap: 1rem;
        }
    }

    // .stats__block
    &__block {
        border-radius: 1.5rem;
        background: #F6F8FA;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 0.5rem 1rem 1rem;

        @media (min-width:$md4) {
            @for $i from 1 through 3 {
                &:nth-child(3n + #{$i}) {
                    transition-delay: #{$i * 0.25}s;
                }
            }

        }

        @media (min-width:$md4) {
            padding: 1.5rem 0.5rem 1.5rem 1rem;

        }

        @media (min-width:$md3) {
            padding: 2.0625rem 1rem 2.0625rem 2.0625rem;

        }
    }

    // .stats__block-value
    &__block-value {
        color: #2342A7;
        font-weight: 500;
        line-height: 92.308%;
        font-size: 2.25rem;
        letter-spacing: -0.05em;

        @media (min-width:$md4) {
            font-size: 2.45rem;

        }

        @media (min-width:$md2) {
            font-size: 3.25rem;
        }
    }

    // .stats__block-subtitle
    &__block-subtitle {
        color: #4A5565;
        letter-spacing: -0.01875rem;
        line-height: 142.857%;
        font-size: 0.875rem;
        margin-top: 1rem;

        @media (min-width:$md4) {
            margin-top: 1.5rem;
        }

        @media (min-width:$md3) {
            line-height: 111.111%;
            margin-top: 0.97rem;
            font-size: 1rem;
            letter-spacing: 0.0125rem;
        }

        @media (min-width:$md2) {
            font-size: 1.125rem;

        }
    }
}

.about {
    background: #fff;

    @media (min-width:$md5) {
        padding: 0 0 2.5rem 0;

    }

    @media (min-width:$md3) {
        padding: 0;
    }

    // .about__container
    &__container {
        @media (max-width:$md5) {
            padding: 0;
        }
    }

    // .about__banner
    &__banner {
        @media (max-width:$md5) {
            border-radius: rem(20);
            min-height: auto;

            .banner__info {
                position: absolute;
                top: 0;
                left: 0;
            }

            .banner__slider {
                position: relative;
            }
        }



        .description-block {

            line-height: 130%;
            letter-spacing: -0.0195rem;
            font-size: 0.875rem;

            @media (max-width:$md5) {
                max-width: calc(100% + 2px);
                position: static;
                padding: 1.5rem 1rem;
                border-radius: rem(20);
                margin-top: rem(-20);

                &::before,
                &::after {
                    display: none;
                }
            }


            @media (min-width:$md5) {
                max-width: rem(300);
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;

            }

            @media (min-width:$md4) {
                max-width: rem(356);
                padding-top: 1.75rem;
                padding-left: 1.5rem;
                padding-bottom: 1.875rem;
                font-size: 1rem;

            }

            @media (min-width:$md2) {
                max-width: rem(433);
                padding-left: 0;
                font-size: 1.1875rem;
                line-height: 136.842%;
                padding-right: 3rem;
                padding-top: 3.25rem;
                padding-bottom: 0;

            }

            & p {
                &:not(:last-child) {
                    margin-bottom: 1.125rem;

                    @media (min-width:$md5) {
                        margin-bottom: 1.55rem;
                    }
                }
            }
        }
    }
}

.directions {
    background: #fff;
    padding: rem(40) 0 rem(34);

    @media (min-width:$md5) {
        padding: rem(40) 0 rem(44);
    }

    @media (min-width:$md3) {
        padding: 5.875rem 0 4.25rem;

    }

    &:not(:last-child) {

        position: relative;
        z-index: 3;
        border-radius: 0 0 rem(30) rem(30);
        margin-bottom: rem(-30);

        @media (min-width:$md4) {
            border-radius: 0 0 rem(58) rem(58);
            margin-bottom: rem(-58);
        }

        &+* {
            padding-top: rem(72);

            @media (min-width:$md5) {
                padding-top: rem(100);

            }

            @media (min-width:$md2) {
                padding-top: rem(110);

            }
        }
    }

    &--grey {
        background: #F6F8FA;
        padding: rem(38) 0 2.375rem;

        @media (min-width:$md3) {
            padding: rem(68) 0 5.25rem;

        }

        .directions__title {
            font-weight: 600;
        }

        .directions__list {
            filter: drop-shadow(0 13px 28.2px #ECF1F5);
        }
    }

    // .directions__title
    &__title {
        @media (max-width:$md5) {
            font-size: 1.75rem;
        }
    }

    // .directions__list
    &__list {
        display: grid;
        gap: 0.5rem;

        margin-top: rem(20);

        @media (min-width:$md4) {
            margin-top: rem(30);
            grid-template-columns: repeat(12, 1fr);
        }

        @media (min-width:$md3) {
            grid-template-columns: repeat(24, 1fr);
            gap: 1rem;
            margin-top: rem(44);

        }
    }
}

.direction-card {
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.25rem 0.5rem 1.25rem 1rem;
    grid-column: span 4;
    min-height: rem(92);
    border-radius: 1.125rem;
    gap: 1rem;

    @media (max-width:$md4) {
        &:nth-child(4n + 1) {
            &::after {
                left: 26%;
            }
        }

        &:nth-child(4n + 2) {
            &::after {
                left: 63%;
            }
        }

        &:nth-child(4n + 3) {
            &::after {
                left: 21%;
            }
        }

        &:nth-child(4n + 4) {
            &::after {
                left: 80%;
            }
        }

        &:last-child {
            &::after {

                display: none;
            }
        }
    }

    @media (min-width:$md5) {
        padding: 1.5rem 0.5rem 1.5rem 1rem;
        min-height: rem(116);
        gap: rem(14);

    }

    @media (min-width:$md3) {
        grid-column: span 8;
        gap: 1.5rem;
        padding: 1.5rem 0.5rem 1.5rem 1.5rem;
        border-radius: 1.25rem;
    }

    @media (min-width:$md2) {
        border-radius: 1.5rem;
        gap: 2rem;
        min-height: rem(180);
        padding: 2.625rem 0.5rem 2.625rem 2.25rem;
    }



    &::before {
        @media (min-width:$md4) {
            content: '';
            position: absolute;
            left: 100%;
            background-position: center;
            display: none;
            height: 2.25rem;
            width: 0.5rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='36' viewBox='0 0 8 36' fill='none'%3E%3Cpath d='M9.53674e-07 -3.49691e-07L0.097125 0.236739C1.57722 3.84447 6.73851 3.68986 8 0L8 36C6.60073 32.5368 1.75835 32.3734 0.12879 35.7344L-6.19936e-07 36L9.53674e-07 -3.49691e-07Z' fill='%23F4F7F9'/%3E%3C/svg%3E");
        }

        @media (min-width:$md3) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='44' viewBox='0 0 19 44' fill='none'%3E%3Cpath d='M16.4389 3.85518L19 0L19 44L16.1042 40.3116C13.0825 36.463 7.34448 36.2045 3.98906 39.766L-1.59525e-08 44L1.90735e-06 -8.30516e-07L3.51983 4.41522C6.90193 8.65768 13.4366 8.3744 16.4389 3.85518Z' fill='%23F4F7F9'/%3E%3C/svg%3E");
            width: rem(19);
            height: rem(44);

        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        background-position: center;



        width: 2.25rem;
        height: 0.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='8' viewBox='0 0 36 8' fill='none'%3E%3Cpath d='M0 8L0.23674 7.90287C3.84447 6.42278 3.68986 1.26149 0 0L36 0C32.5368 1.39927 32.3734 6.24165 35.7344 7.87121L36 8L0 8Z' fill='%23F4F7F9'/%3E%3C/svg%3E");


        @media (min-width:$md4) {
            display: none;
        }

        @media (min-width:$md3) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='19' viewBox='0 0 44 19' fill='none'%3E%3Cpath d='M3.85518 2.56113L0 0L44 0L40.3116 2.89582C36.463 5.9175 36.2045 11.6555 39.766 15.0109L44 19L0 19L4.41522 15.4802C8.65768 12.0981 8.3744 5.56341 3.85518 2.56113Z' fill='%23F4F7F9'/%3E%3C/svg%3E");
            height: rem(19);
            width: rem(44);
        }
    }

    &.direction-card--grey {
        background: #F4F7F9;
    }

    &.direction-card--white {
        background: #fff;

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='8' viewBox='0 0 36 8' fill='none'%3E%3Cpath d='M0 8L0.23674 7.90287C3.84447 6.42278 3.68986 1.26149 0 0L36 0C32.5368 1.39927 32.3734 6.24165 35.7344 7.87121L36 8L0 8Z' fill='white'/%3E%3C/svg%3E");

            @media (min-width:$md3) {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='44' viewBox='0 0 19 44' fill='none'%3E%3Cpath d='M16.4389 3.85518L19 0L19 44L16.1042 40.3116C13.0825 36.463 7.34448 36.2045 3.98906 39.766L-1.59525e-08 44L1.90735e-06 -8.30516e-07L3.51983 4.41522C6.90193 8.65768 13.4366 8.3744 16.4389 3.85518Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='36' viewBox='0 0 8 36' fill='none'%3E%3Cpath d='M1.43051e-06 -3.49691e-07L0.0971255 0.236739C1.57722 3.84447 6.73851 3.68986 8 0L8 36C6.60073 32.5368 1.75835 32.3734 0.12879 35.7344L-1.43099e-07 36L1.43051e-06 -3.49691e-07Z' fill='white'/%3E%3C/svg%3E");

            @media (min-width:$md3) {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='19' viewBox='0 0 44 19' fill='none'%3E%3Cpath d='M3.85518 2.56113L0 0L44 0L40.3116 2.89582C36.463 5.9175 36.2045 11.6555 39.766 15.0109L44 19L0 19L4.41522 15.4802C8.65768 12.0981 8.3744 5.56341 3.85518 2.56113Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .direction-card__icon {
            &::before {
                background: url("@img/decor/glass-substrat-direction-white-tablet.png") 0 0 / cover no-repeat;

                @media (min-width:$md3) {
                    background: url("@img/decor/glass-substrat-direction-white.png") 0 0 / cover no-repeat;

                }
            }
        }
    }

    &.direction-card--large {
        @media (min-width:$md4) {
            grid-column: span 6;
        }

        @media (min-width:$md3) {
            grid-column: span 12;

        }

        &+.direction-card--large {
            &::after {
                @media (min-width:$md4) {
                    left: 60%;
                }

                @media (min-width:$md3) {
                    left: 68%;
                }
            }
        }

        &::before {
            top: 25%;

        }

        &::after {
            @media (min-width:$md4) {
                left: 80%;
            }

            @media (min-width:$md3) {
                left: 85%;

            }
        }
    }

    &.direction-card--extralarge {
        @media (min-width:$md4) {
            grid-column: span 7;
        }

        @media (min-width:$md3) {
            grid-column: span 13;

        }
    }

    &.direction-card--extralarge-desktop {
        @media (min-width:$md4) {
            grid-column: span 6;
        }

        @media (min-width:$md3) {
            grid-column: span 13;

        }
    }

    &.direction-card--medium {
        @media (min-width:$md4) {
            grid-column: span 5;

            &::before {
                top: 50%;
            }

            &::after {
                left: 42%;
            }
        }

        @media (min-width:$md3) {
            grid-column: span 11;

        }

    }

    &.direction-card--medium-desktop {

        @media (min-width:$md4) {
            grid-column: span 6;
        }

        @media (min-width:$md3) {
            grid-column: span 11;

        }

        &::before {
            @media (min-width:$md4) {
                top: 35%;
            }

            @media (min-width:$md3) {
                top: 50%;
            }
        }

        &::after {
            @media (min-width:$md4) {
                left: 42%;
            }
        }
    }

    &.direction-card--default {
        @media (min-width:$md2) {
            min-height: rem(201);
            gap: 1.5rem;

            .direction-card__content {
                padding-top: 0.875rem;
            }
        }

        @media (min-width:$md4) {
            &::before {
                top: 22%;
            }

            &::after {
                left: 85%;
            }

        }
    }

    &--connection {
        &-right-desktop {

            @media (min-width:$md4) {
                &::before {
                    display: block;
                }
            }
        }

        &-bottom-desktop {
            @media (min-width:$md4) {
                &::after {
                    display: block;
                }
            }
        }
    }

    // .direction-card__icon
    &__icon {
        flex-shrink: 0;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 3.81325rem;
        height: 3.81325rem;
        border-radius: 1.22025rem;
        padding: 1rem;

        & img {
            max-height: rem(24);

            @media (min-width:$md3) {
                max-height: rem(50);
            }
        }

        @media (min-width:$md5) {
            padding: 0.75rem;
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 1rem;

        }

        @media (min-width:$md3) {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 1.5rem;
            padding: 1rem;
        }

        @media (min-width:$md2) {
            width: 6rem;
            height: 6rem;
            border-radius: 2rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url("@img/decor/glass-substrat-direction-tablet.png") 0 0 / cover no-repeat;

            @media (min-width:$md3) {
                background: url("@img/decor/glass-substrat-direction.png") 0 0 / cover no-repeat;
                border-radius: 1.5rem;
            }

            @media (min-width:$md2) {
                border-radius: 2rem;

            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0.21rem;
            right: 0.21rem;

            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(13.950000762939453px);
            width: 0.81675rem;
            height: 0.81675rem;

            @media (min-width:$md3) {
                bottom: rem(11);
                right: rem(10);
                filter: blur(23.950000762939453px);
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    // .direction-card__content
    &__content {
        flex: 1 1 auto;
        align-self: start;

    }

    // .direction-card__caption
    &__caption {
        color: #313542;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.02806rem;
        font-size: 1rem;

        @media (min-width:$md5) {
            font-size: 1.125rem;

        }

        @media (min-width:$md3) {
            line-height: 116.667%;
            font-size: 1.375rem;

        }

        @media (min-width:$md2) {
            font-size: 1.5rem;
        }
    }

    // .direction-card__desc
    &__desc {
        color: #4A5565;
        line-height: 126.389%;
        letter-spacing: -0.00938rem;
        max-width: 26.5rem;
        margin-top: 0.5rem;
        font-size: 0.875rem;

        @media (min-width:$md5) {
            margin-top: 0.625rem;
        }

        @media (min-width:$md3) {
            font-size: 1rem;
        }

        @media (min-width:$md2) {
            margin-top: 1rem;
            font-size: 1.125rem;

        }
    }
}

.residents {
    background: #F6F8FA;
    position: relative;
    padding: rem(131) 0 rem(40);

    @media (min-width:$md5) {
        padding: rem(131) 0 rem(100);

    }

    @media (min-width:$md3) {
        padding: rem(131) 0 rem(130);

    }


    // .residents__title
    &__title {
        @media (max-width:$md3) {
            font-weight: 500;
        }

        @media (max-width:$md5) {
            font-size: rem(28);
        }
    }

    // .residents__list
    &__list {
        display: grid;
        gap: 0.5rem;
        margin-top: 1.75rem;

        @media (min-width:$md5) {
            margin-top: 1.875rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$md4) {
            grid-template-columns: repeat(3, 1fr);

        }

        @media (min-width:$md2) {
            margin-top: 2.97rem;
            gap: 1.5rem;

        }
    }

    // .residents__card
    &__card {
        display: flex;
        flex-direction: column;

        @media (max-width:$md4) {
            @media (min-width:$md5) {
                @for $i from 1 through 2 {
                    &:nth-child(2n + #{$i}) {
                        transition-delay: #{$i * 0.25}s;
                    }
                }
            }
        }

        @media (min-width:$md4) {
            @for $i from 1 through 3 {
                &:nth-child(3n + #{$i}) {
                    transition-delay: #{$i * 0.25}s;
                }
            }

        }
    }

    // .residents__card-link
    &__card-link {
        flex: 1 1 auto;

        gap: 1rem;
        background: #FFF;
        box-shadow: 0 rem(13) rem(28) 0 #ECF1F5;
        padding: 0.25rem 0.875rem 1rem;
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease;
        border-radius: 0.75rem;

        @media (min-width:$md2) {
            padding: 0.5rem 1.5rem 1.5rem 1.5rem;
            border-radius: 1.5rem;
        }

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 rem(13) rem(28) 0 #C2CFDB;
            }
        }
    }

    // .residents__card-logotype
    &__card-logotype {
        border-bottom: rem(1) solid rgba(165, 172, 195, 0.31);
        display: flex;
        align-items: center;
        height: 3.25rem;

        @media (min-width:$md5) {
            height: 3.5rem;
            padding-bottom: 0.5rem;

        }

        @media (min-width:$md3) {
            padding-bottom: 0;
            height: 7.5rem;
        }
    }

    // .residents__card-name
    &__card-name {
        margin-top: rem(18);
        color: #313542;
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 112%;
        letter-spacing: -0.02806rem;
    }

    // .residents__card-desc
    &__card-desc {
        margin-top: 0.25rem;
        color: #4A5565;
        line-height: 120%;
        letter-spacing: -0.00519rem;
        text-align: left;
        font-size: 0.875rem;

        @media (min-width:$md5) {
            font-size: 0.75rem;
            line-height: 105.152%;

        }

        @media (min-width:$md3) {
            line-height: 126.389%;
            letter-spacing: -0.00938rem;
            margin-top: 1rem;
            font-size: 1rem;
        }

        @media (min-width:$md2) {
            font-size: 1.125rem;

        }

        &:not(:last-child) {
            @media (min-width:$md3) {
                margin-bottom: 0.25rem;

            }
        }
    }

    // .residents__card-more
    &__card-more {
        margin-top: auto;
        color: #313542;
        line-height: 142.857%;
        letter-spacing: -0.00938rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;

        @media (min-width:$md3) {
            gap: 0.06rem;
            font-size: 0.875rem;
        }

        &::before {
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            font-size: 0.875rem;
            order: 1;
            color: #2342A7;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
}

.about-center {
    position: relative;
    z-index: 3;
    background: #fff;

    @media (min-width:$md5) {
        padding: rem(38) 0 rem(54);
        margin-top: rem(-58);
        border-radius: rem(58) rem(58) 0 0;
        margin-top: rem(-58);

    }

    @media (min-width:$md3) {
        padding: rem(58) 0 rem(54);

    }

    // .about-center__container
    &__container {
        @media (max-width:$md5) {
            padding: 0;
        }
    }

    // .about-center__banner
    &__banner {

        &.banner {
            @media (max-width:$md5) {
                border-radius: rem(20);
                min-height: auto;

                .banner__image {
                    position: relative;
                }
            }

            @media (min-width:$md5) {
                min-height: rem(519);
            }

            @media (min-width:$md3) {
                min-height: rem(588);
            }

            @media (min-width:$md2) {
                min-height: rem(657);

            }

            .description-block {

                @media (max-width:$md5) {
                    max-width: calc(100% + 2px);
                    position: static;
                    padding: 1.5rem 1rem;
                    border-radius: rem(20);
                    margin-top: rem(-20);

                    &::before,
                    &::after {
                        display: none;
                    }
                }

                @media (min-width:$md5) {
                    padding-right: 0rem;
                    padding-top: rem(16);
                    max-width: rem(300);
                    padding-left: 1.5rem;

                }

                @media (min-width:$md4) {
                    padding-left: 1.5rem;
                    max-width: 22rem;

                }

                @media (min-width:$md3) {
                    padding-top: rem(40);
                    padding-right: 3rem;
                    padding-left: 3rem;
                    max-width: 28rem;
                }

                @media (min-width:$md2) {
                    padding-right: 4rem;
                    padding-left: 4rem;
                    max-width: 36.7rem;

                }
            }

            .banner__title.title-sm {
                font-size: 1.375rem;

                @media (min-width:$md4) {
                    font-size: rem(24);
                }

                @media (min-width:$md2) {
                    font-size: 2.25rem;
                }
            }

            .banner__text {
                line-height: 140%;
                letter-spacing: -0.0195rem;
                font-size: 0.875rem;
                margin-top: 0.875rem;

                @media (min-width:$md4) {
                    margin-top: 1.5rem;
                    font-size: rem(14);
                }

                @media (min-width:$md3) {
                    font-size: 1rem;
                    line-height: 162.5%;
                }
            }

            .banner__btn {
                font-size: 0.875rem;
                margin-top: 1rem;

                @media (min-width:$md3) {
                    margin-top: 2rem;
                    font-size: 1rem;
                }
            }
        }

    }
}

.training {

    padding: 2.75rem 0 2.08rem;

    @media (min-width:$md5) {
        padding: 2rem 0 2.08rem;

    }

    @media (min-width:$md3) {
        padding: 4.56rem 0 2.08rem;

    }

    // .training__container
    &__container {
        display: flex;
        gap: 2rem;
        flex-direction: column;

        @media (min-width:$md4) {
            flex-direction: row;
        }
    }

    // .training__main
    &__main {}

    // .training__title
    &__title {
        @media (max-width:$md5) {
            font-size: 1.75rem;
            font-weight: 500;
            margin-right: -0.5rem;
            letter-spacing: -0.04025rem;
        }
    }

    // .training__desc
    &__desc {
        color: #313542;
        letter-spacing: -0.0195rem;
        line-height: 140%;
        margin-top: rem(16);
        font-size: 0.875rem;

        @media (min-width:$md5) {
            margin-top: rem(22);
            font-size: 1rem;
        }

        @media (min-width:$md3) {
            margin-top: rem(35);
            font-size: 1.125rem;
            line-height: 144.444%;

        }
    }

    // .training__cards
    &__cards {
        display: flex;
        flex-direction: column;
        gap: rem(10);

        @media (min-width:$md4) {
            flex: 0 0 rem(357);

        }

        @media (min-width:$md3) {
            gap: rem(15);
            flex: 0 0 rem(560);
        }

        @media (min-width:$md2) {
            padding-right: 1rem;
            flex: 0 0 rem(700);

        }
    }

    // .training__card
    &__card {}

    // .training__card-link
    &__card-link {

        background: #FFFEFE;
        box-shadow: 0 rem(4) rem(10) 0 rgba(0, 0, 0, 0.11);
        display: grid;
        grid-auto-rows: min-content;
        align-items: center;
        gap: 1rem;
        row-gap: 0.75rem;
        transition: all 0.3s ease;
        padding: rem(18) rem(16);
        border-radius: 1.25rem;

        grid-template-columns: 2.625rem 1fr;

        @media (min-width:$md5) {
            gap: rem(24);
            grid-template-columns: 4rem 1fr;
        }

        @media (min-width:$md3) {
            border-radius: 1.875rem;
            padding: 1.5rem 1.75rem;
            grid-template-columns: 7.625rem 1fr;
            gap: rem(30);
            row-gap: 1rem;
        }




        @media (any-hover: hover) {
            &:hover {
                transform: translateY(rem(-2));
                box-shadow: 0 rem(15) rem(40) 0 rgba(0, 0, 0, 0.11);
            }
        }
    }

    // .training__card-image
    &__card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
        border-radius: 0.84rem;
        width: 2.625rem;
        height: 2.625rem;

        @media (min-width:$md5) {
            border-radius: 1.28rem;
            width: 4rem;
            height: 4rem;

        }

        @media (min-width:$md3) {
            width: 7.625rem;
            height: 7.625rem;
            border-radius: 1.875rem;
            grid-row: span 2;
        }

        & img {
            max-width: 1.54313rem;

            @media (min-width:$md5) {
                max-width: 2.06556rem;

            }

            @media (min-width:$md3) {
                max-width: 3.9375rem;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 2.25rem;
            bottom: 2.5rem;
            width: 1.83rem;
            height: 1.83rem;
            background: #2342A7;
            filter: blur(29.2189998626709px);
            opacity: 0.5;
            z-index: -2;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url("@img/decor/glass-substrat-training-tablet.png") 0 0 / cover no-repeat;

            @media (min-width:$md3) {
                background: url("@img/decor/glass-substrat-training.png") 0 0 / cover no-repeat;

            }
        }

    }

    // .training__card-caption
    &__card-caption {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0.00438rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;

        &::before {
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            flex-shrink: 0;
            background: #2342A7;
            color: #fff;
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: rem(-4);

            @media (min-width:$md5) {
                margin-top: rem(-10);

            }

            @media (min-width:$md3) {
                line-height: 133.333%;
                margin-top: rem(-16);
                margin-right: rem(-8);
                width: 2.75rem;
                height: 2.75rem;
                font-size: 1.5rem;
            }
        }

        @media (min-width:$md5) {
            font-size: 1.25rem;
        }

        @media (min-width:$md3) {
            font-size: 1.5rem;
        }


    }

    // .training__card-desc
    &__card-desc {
        color: #4A5565;
        line-height: 125%;
        letter-spacing: -0.0195rem;
        font-size: 0.875rem;
        grid-column: span 2;
        padding-right: 1.25rem;

        @media (min-width:$md5) {
            padding-right: 2.25rem;

        }

        @media (min-width:$md3) {
            grid-column: auto;
            font-size: 1rem;
            padding-right: 3.5rem;

        }
    }
}

.solutions {
    padding: 2.25rem 0 0.25rem;

    @media (min-width:$md5) {
        padding: 3rem 0 0.875rem;
    }

    @media (min-width:$md3) {
        padding: 3.25rem 0 1.75rem;
    }

    // .solutions__title
    &__title {
        @media (max-width:$md3) {
            font-weight: 500;
        }

        @media (max-width:$md5) {
            font-size: 1.75rem;
        }
    }

    // .solutions__list
    &__list {
        display: grid;
        gap: 0.75rem;
        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-top: 2.5rem;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width:$md3) {
            margin-top: 1.875rem;
        }
    }

    // .solutions__card
    &__card {

        background: #F6F8FA;
        padding: 1.35rem 0.625rem 1.25rem 1rem;
        min-height: 12rem;
        border-radius: 0.75rem;


        @media (min-width:$md5) {
            border-radius: 1rem;
            padding: 1.35rem 1rem 1.25rem;
        }

        @media (min-width:$md3) {
            border-radius: 1.5rem;
            padding: 1.35rem 2rem 2rem;
        }

        &.animated {
            @media (max-width:$md4) {
                .diagram-line {
                    stroke-dashoffset: 0;
                    transition-delay: 0.2s;
                }
            }

            @media (min-width:$md4) {

                @for $i from 1 through 3 {
                    &:nth-child(3n + #{$i}) {
                        transition-delay: #{$i * 0.25}s;

                        .diagram-line {
                            stroke-dashoffset: 0;
                            transition-delay: #{$i * 0.25 + 0.2}s;
                        }
                    }
                }
            }
        }

        &:nth-child(3n + 2) {
            background: #F6FAF8;

            .solutions__card-diagram svg {
                transform: rotate(30deg);
            }
        }

        &:nth-child(3n + 3) {
            background: #FAF6F9;

            .solutions__card-diagram svg {
                transform: rotate(150deg);
            }
        }
    }

    // .solutions__card-header
    &__card-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        @media (min-width:$md5) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
        }

        @media (min-width:$md3) {
            gap: 1.69rem;
        }
    }

    // .solutions__card-num
    &__card-num {
        position: relative;
        color: #2342A7;
        font-weight: 500;
        line-height: 167.416%;
        letter-spacing: 0.00606rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 4rem;
        height: 4rem;
        font-size: 1.65294rem;

        @media (min-width:$md5) {
            width: 5.22438rem;
            height: 5.22438rem;
            font-size: 2.15888rem;
            letter-spacing: 0.01081rem;
        }

        @media (min-width:$md3) {
            margin-left: -0.5rem;
            width: 7.0995rem;
            height: 7.0995rem;
            font-size: 2.93375rem;
        }
    }

    // .solutions__card-diagram
    &__card-diagram {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        svg {
            width: 100%;
            height: 100%;
            transform: rotate(-90deg);
            transition: transform 1s ease;
        }

        .diagram-line {
            stroke-dasharray: 33.33 100;
            stroke-dashoffset: 33.33;
            transition: stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    // .solutions__card-caption
    &__card-caption {
        width: min-content;
        font-weight: 500;
        letter-spacing: 0.00438rem;
        font-size: 1.25rem;
        line-height: 110%;

        @media (min-width:$md5) {
            width: auto;
        }

        @media (min-width:$md3) {
            font-size: 1.5rem;
            line-height: 133.333%;
        }
    }

    // .solutions__card-desc
    &__card-desc {
        color: #4A5565;
        line-height: 130%;
        letter-spacing: -0.0195rem;
        font-size: 0.875rem;
        margin-top: 0.75rem;

        @media (min-width:$md5) {
            margin-top: 0.5rem;
        }

        @media (min-width:$md3) {
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 137.5%;
        }
    }


}