.interaction {
    padding: 0.25rem 0 rem(64);
    background: #fff;
    position: relative;
    z-index: 2;
    border-radius: 0 0 rem(30) rem(30);
    margin-bottom: rem(-30);

    @media (min-width:$md4) {
        border-radius: 0 0 rem(58) rem(58);
        margin-bottom: rem(-58);
    }

    &:not(:last-child) {

        &+* {
            padding-top: rem(72);

            @media (min-width:$md5) {
                padding-top: rem(100);

            }

            @media (min-width:$md2) {
                padding-top: rem(124);

            }
        }
    }

    // .interaction__container
    &__container {}

    // .interaction__banner
    &__banner {
        min-height: 41.0625rem;

        .banner__description {
            max-width: 39.1rem;

            .banner__title {
                font-size: rem(47);
                letter-spacing: -0.125rem;
                line-height: 114.894%;
                font-weight: 500;
            }

            .banner__text {
                font-size: 1.15rem;
                line-height: 140%;
                max-width: 36.1875rem;
            }

            .banner__btn {
                min-width: 13rem;
                margin-top: 2.5rem;
            }
        }
    }
}

.advantages {
    padding: 2.5rem 0 3.75rem;
    background: #F6F8FA;

    // .advantages__title
    &__title {

        font-weight: 600;
    }

    // .advantages__list
    &__list {
        margin-top: 2.75rem;
        display: grid;
        gap: rem(24);

        @media (min-width:$md4) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$md2) {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
    }

    // .advantages__card
    &__card {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        background: #FFF;
        box-shadow: 0 rem(4) rem(10) 0 rgba(0, 0, 0, 0.11);
        transition: all 0.3s ease;
        gap: 1.62rem;

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(rem(-8));
                box-shadow: 0 rem(15) rem(40) rgba(0, 0, 0, 0.11);
            }
        }
    }

    // .advantages__card-icon
    &__card-icon {
        width: 5rem;
        height: 5rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 1.81819rem;
        position: relative;
        z-index: 1;
        border-radius: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            background: url("@img/decor/glass-substrat-advantages.png") 0 0 / cover no-repeat;
            z-index: -1;
        }


        &::after {
            content: '';
            position: absolute;
            bottom: rem(3);
            right: rem(3);
            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(21.950000762939453px)
        }
    }

    // .advantages__card-content
    &__card-content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    // .advantages__card-title
    &__card-title {
        margin-bottom: 1rem;
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.02806rem;
    }

    // .advantages__card-text
    &__card-text {
        margin-top: auto;

        color: #4A5565;
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: -0.01875rem;
    }
}

.partners {
    padding: rem(64) 0 6.72rem;

    // .partners__title
    &__title {

        font-weight: 600;
    }

    // .partners__list
    &__list {
        margin-top: rem(40);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    // .partners__card
    &__card {
        display: flex;
        align-items: center;
        gap: rem(35);

        &:not(:last-child) {
            padding-bottom: rem(40);
            border-bottom: rem(1) solid #E9E9E9;
        }


    }

    // .partners__card-image
    &__card-image {
        flex-shrink: 0;
        width: rem(371);
        height: rem(228);
        border-radius: rem(24);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    }

    // .partners__card-content
    &__card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    // .partners__card-name
    &__card-name {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 120%;

    }

    // .partners__card-text
    &__card-text {
        font-size: 1.125rem;
        line-height: 140%;
        max-width: rem(716);
    }
}

.career-guidance {
    background: #F6F8FA;
    padding: 4.34rem 0 8.5rem;

    &+.results {
        margin-top: rem(-30);
        border-top-right-radius: rem(30);
        border-top-left-radius: rem(30);

        @media (min-width:$md4) {
            border-top-right-radius: rem(58);
            border-top-left-radius: rem(58);
            margin-top: rem(-58);
            padding-top: rem(74);
        }
    }

    // .career-guidance__container
    &__container {}

    // .career-guidance__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .career-guidance__title
    &__title {
        max-width: 37.375rem;
    }

    // .career-guidance__controls
    &__controls {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    // .career-guidance__prev
    &__prev {
        width: 4.375rem;
        height: 4.375rem;
        font-size: 2.25rem;
    }

    // .career-guidance__next
    &__next {
        width: 4.375rem;
        height: 4.375rem;
        font-size: 2.25rem;
    }

    // .career-guidance__body
    &__body {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        align-items: end;
    }

    // .career-guidance__info
    &__info {
        max-width: 29rem;
    }

    // .career-guidance__stat
    &__stat {
        color: #2342A7;
        font-size: 5rem;
        font-weight: 500;
        line-height: 78.33%;
        letter-spacing: -0.01938rem;
    }

    // .career-guidance__caption
    &__caption {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1.875rem;
        line-height: 130%;
        letter-spacing: -0.01938rem;
    }

    // .career-guidance__desc
    &__desc {
        margin-top: 2rem;
        color: #313542;
        font-size: 1.125rem;
        line-height: 144.444%;
        letter-spacing: -0.0195rem;
    }

    // .career-guidance__slider
    &__slider {
        min-width: 0;
    }

    // .career-guidance__slide
    &__slide {
        border-radius: 2rem;
        overflow: hidden;
        height: 20.5rem;
    }
}

.results {
    padding: rem(74) 0;
    background: #fff;

    &:not(:last-child) {
        position: relative;
        z-index: 2;
        margin-bottom: rem(-30);
        border-bottom-right-radius: rem(30);
        border-bottom-left-radius: rem(30);

        @media (min-width:$md4) {
            border-bottom-right-radius: rem(58);
            border-bottom-left-radius: rem(58);
            margin-bottom: rem(-58);
        }

        &+* {
            padding-top: rem(72);

            @media (min-width:$md5) {
                padding-top: rem(100);

            }

            @media (min-width:$md2) {
                padding-top: rem(110);

            }
        }
    }

    // .results__container
    &__container {}

    // .results__title
    &__title {
        font-weight: 600;
    }

    // .results__list
    &__list {
        margin-top: rem(42);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    // .results__card
    &__card {
        display: flex;
        align-items: center;
        gap: rem(31);
        border-radius: 1.5rem;
        background: #FFF;
        padding: 2.625rem 2rem;
        box-shadow: 0 rem(13) rem(28) 0 #ECF1F5;
    }

    // .results__card-image
    &__card-image {
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            background: url("@img/decor/glass-substrat-training.png") 0 0 / cover no-repeat;
            z-index: -1;
        }


        &::after {
            content: '';
            position: absolute;
            bottom: rem(11);
            right: rem(10);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            z-index: -2;
            background: #2342A7;
            filter: blur(23.950000762939453px)
        }
    }

    // .results__card-content
    &__card-content {
        flex: 1 1 auto;
    }

    // .results__card-name
    &__card-name {
        color: #313542;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 116.667%;
        letter-spacing: -0.02806rem;
    }

    // .results__card-desc
    &__card-desc {
        margin-top: 1rem;
        color: #4A5565;
        font-size: 1.125rem;
        line-height: 130%;
        letter-spacing: -0.00938rem;
    }
}