<li class="accreditation__card" data-animate="bottom">
    <div class="accreditation__card-header">
        <div class="accreditation__card-icon">
            <img src="@@iconUrl" alt="@@title">
        </div>
        <div class="accreditation__card-info">
            <h3 class="accreditation__card-title">@@title</h3>
            <p class="accreditation__card-number">@@numberText: <span>@@number</span></p>
        </div>
    </div>
    <a href="@@link" class="accreditation__card-link icon-right">
        <span>Проверить документ</span>
    </a>
</li>