<li class="direction-card direction-card--@@color direction-card--@@size @@if(typeof connectionRightDesktop !== 'undefined' && connectionRightDesktop === true){ direction-card--connection-right-desktop}@@if(typeof connectionBottomDesktop !== 'undefined' && connectionBottomDesktop === true){ direction-card--connection-bottom-desktop}">
    <div class="direction-card__icon" data-animate="bottom">
        <img src="@@imageURL" alt="Иконка">
    </div>
    <div class="direction-card__content">
        <div class="direction-card__caption" data-animate="bottom">@@caption</div>
        <div class="direction-card__desc" data-animate="bottom">@@desc</div>
    </div>
</li>