<li class="study-plan__card" data-animate="bottom">
    <a href="@@fileUrl" class="study-plan__card-link">
        <div class="study-plan__card-header">
            <div class="study-plan__card-icon">
                <img src="@@iconUrl" alt="@@title">
            </div>
            <div class="study-plan__card-content">
                <h3 class="study-plan__card-title">@@title</h3>
                <p class="study-plan__card-desc">@@desc</p>
            </div>
        </div>
        <div class="study-plan__card-download icon-download">Скачать</div>
    </a>
</li>