<li class="tech-base__card" data-animate="bottom">
    <div class="tech-base__card-header">
        <div class="tech-base__card-icon">
            <img src="@@iconUrl" alt="@@title">
        </div>
        <h3 class="tech-base__card-title">@@title</h3>
    </div>
    <div class="tech-base__card-content">
        <ul class="tech-base__card-list">
            @@for (var i = 0; i < list.length; i++) { <li class="tech-base__card-list-item">`+list[i]+`
</li>
}
</ul>
@@if(button) {
<a href="@@button.url" class="tech-base__card-btn btn btn-primary icon-right">
    @@button.text
</a>
}
</div>
</li>