.footer {
    background-color: #313542;
    color: #fff;
    padding: 3.81rem 0;

    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
    }

    // .footer__logo
    &__logo {}

    // .footer__copyright
    &__copyright {
        margin-top: 1rem;
        font-size: 1.125rem;
        line-height: 155.556%;
        letter-spacing: -0.02744rem;
    }

    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        max-width: 24.6875rem;
    }

    // .footer__contacts-link
    &__contacts-link {}

    // .footer__address
    &__address {}

    // .footer__side
    &__side {}

    // .footer__menu
    &__menu {}

    // .footer__menu-list
    &__menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.0195rem;
    }

    // .footer__menu-item
    &__menu-item {}

    // .footer__menu-link
    &__menu-link {}

    // .footer__policy
    &__policy {
        margin-top: 1.5rem;
        font-size: 0.875rem;
        line-height: 142.857%;
        letter-spacing: -0.00938rem;
        display: inline-block;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        color: rgba($color: #fff, $alpha: .5);
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}