// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Onest";
// Шрифт по умолчанию

$md1: 1279.98px;
$md2: 1199.98px;
$md3: 959.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1247); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА
$accent: #2342A7;
$red: #ba2028;

// Z-Index

$header: var(--header-height, #{rem(140)});

:root {
    --header-height: #{rem(78)};

    @media (min-width:$md5) {
        --header-height: #{rem(86)};
    }

    @media (min-width:$md4) {
        --header-height: #{rem(111)};

    }

    @media (min-width:$md2) {
        --header-height: #{rem(140)};
    }
}

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

@import './pages/home';
@import './pages/about';
@import './pages/contacts';
@import './pages/education';
@import './pages/interaction';
@import './pages/policy';
@import './pages/not-found';